
static/.DS_Store

templates/.DS_Store

templates/happenings/.DS_Store

templates/happenings/crud/.DS_Store

*.pyc

templatetags/.DS_Store

static/css/.DS_Store

.DS_Store

happenings/static/js/jquery.hcal-ck.js

dist/tango-happenings-0.3.tar.gz

*.gz

tango_happenings.egg-info/PKG-INFO

tango_happenings.egg-info/PKG-INFO

tango_happenings.egg-info/PKG-INFO

tango_happenings.egg-info/dependency_links.txt

tango_happenings.egg-info/requires.txt

tango_happenings.egg-info/SOURCES.txt
