{% for e in events %}
			<article class="vevent">
				<section class="event_times">
					<time datetime="{{ e.start_date|date:"Y-m-d" }}{% if e.start_time %}T{{ e.start_time|time:"H:i" }}Z{% endif %}" class="dtstart datebox" title="{{ e.start_date|date:"N j" }} to {{ e.end_date|date:"N j" }}">
						<a href="/events/{{ e.start_date|date:"m/d/Y" }}" title="View all events for {{ e.start_date }}">
						<span class="w">{{ e.start_date|date:"l" }}</span>
						<span class="mo">{{ e.start_date|date:"N" }}</span>
						<span class="d">{{ e.start_date|date:"j" }}</span>
						</a>
					</time>
					<span class="hide">-</span>
				</section>
			<section class="event_info">			
				<h2 class="summary"><a href="{{ e.get_absolute_url }}" class="url">{{ e.name }}</a></h2>
				<div class="hcard">
					{% if e.venue %}<h3 class="fn org kicker">{{ e.venue }}</h3>{% endif %}
					<span class="adr meta location">{% if e.address %}<span class="street-address">{{ e.address }}</span>, {% endif %}<span class="locality">{{ e.city.name }}</span>
					</span>
				</div>
			</section>
			
			</article>
		{% endfor %}